<html>
<head>
    <title>Terra Coders</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
</head>
<body>
    <!-- header area -->
    <header>
        <div class="wrapper">
            <div class="floaties"><a href="{{ url_for('home') }}">Home</a></div>
            <div class="floaties"><a href="{{ url_for('blog') }}">Blog</a></div>
            <div class="floaties"><a href="http://34.74.120.0:3000/d/rYdddlPWk/worker-node-monitoring?orgId=1&refresh=1m" target="_blank">Monitoring</a></div>
            <div class="floaties"><a href="http://34.74.120.0:3000/d/6581e46e4e5c7ba40a07646395ef7b23/web-app-metrics-and-monitoring?orgId=1&refresh=10s" target="_blank">Metrics</a></div>
            <div class="floaties"><a href="http://34.73.11.89:5601/app/uptime#/" target="_blank">Availability</a></div>
            <div class="floaties"><a href="http://34.74.120.0:3000/d/18eec5001/ecosystem-monitoring?orgId=1" target="_blank">Alerts</a></div>
        </div>
    </header>

    <!-- main body area -->
    <div class="wrapper">
    
    <!-- main content area, this is where other templates' contents will reside -->
    <main class="content">
 
        {% block content %}{% endblock %}

    </main> <!-- end main content area -->
    </div>  <!-- end wrapper -->  
</body>
</html>