<html>
<head>
    <title>Terra Coders</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
</head>
<body>
    <!-- header area -->
    <header>
        <div class="wrapper">
            <div class="floaties"><a href="{{ url_for('home') }}">Home</a></div>
            <div class="floaties"><a href="{{ url_for('blog') }}">Blog</a></div>
            <div class="floaties"><a href="https://34.139.189.95/applications" target="_blank">Monitoring</a></div>
            <div class="floaties"><a href="http://34.73.11.89/dashboards" target="_blank">Metrics</a></div>
            <div class="floaties"><a href="http://35.231.82.240/app/uptime#/?" target="_blank">Availability</a></div>
            <div class="floaties"><a href="http://34.73.11.89/d/18eec5001/ecosystem-monitoring?orgId=1&from=now-5m&to=now" target="_blank">Alerts</a></div>
        </div>
    </header>

    <!-- main body area -->
    <div class="wrapper">
    
    <!-- main content area, this is where other templates' contents will reside -->
    <main class="content">
 
        {% block content %}{% endblock %}

    </main> <!-- end main content area -->
    </div>  <!-- end wrapper -->  
</body>
</html>